body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Common Css */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Button */

.round-btn {
  border-radius: 20px;
  padding: 8px 35px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-black {
  color: white;
  background-color: black;
  transition: 0.3s;
}

.btn-black:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn-white {
  color: black;
  background-color: white;
  transition: 0.3s;
}

.btn-white:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}